.logements-liste {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    column-gap: 5%;
    row-gap: 50px;
    padding: 50px 55px;
    border-radius:25px;
    background-color: var(--bg-color);
    margin-top: 30px;
}

.logements a {
    text-decoration: none;
}

.logements-card {
    position: relative;
    height: 340px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--main-bg-color);
    border-radius: 10px;
}

.logements-card img {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.logements-card-title {
    position: absolute;
    left:0;
    right:0px;
    bottom:0;
    border-radius: 10px;
    padding: 15px;
    background: linear-gradient(transparent, rgb(0,0,0,0.5));
}